*
  padding: 0;
  margin: 0;

body
  color #333
  line-height 1
  background-color #fcfcfc
  font-family Arial, Helvetica, STHeiti STXihei, Microsoft YaHei, Tohoma, sans-serif
  -webkit-font-smoothing antialiased
