@import './reset.styl';
reset();

body
  color #333
  line-height 1
  background-color #f5f5f5
  font-family Arial, Helvetica, STHeiti STXihei, Microsoft YaHei, Tohoma, sans-serif
  -webkit-font-smoothing antialiased
